<%= form_for :session do |form| %>
<br>
	<div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="row">
  	<div class="col-md-2 col-md-offset-5 col-xs-6 col-xs-offset-3">
  		<%= form.submit "Login", class: "btn btn-default btn-block mainbutton1" %>
  	</div>
  </div>
<br>
<% end %>