<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
	<body>
		<h1>Thank you for joining <%= @giveaway.title %>.</h1>
		<p>
			Hi <%= @participant.name %>,<br><br>
			Your have successfully joined the giveaway!<br><br>
			Here is your referer link <%= "http://gift2grow/" + @participant.giveaway.link + "/" + @participant.referral_identification %>
			We will send you an email with further details should you be chosen as the winner.<br>
			Good Luck!<br><br>
			Meanwhile please visit
			<% if @giveaway.company.website.present? %>
				<%= @giveaway.company.website %> if you would like to learn more about them.
			<% else %>
				<%= @giveaway.company.social_media_link[0] %> f you would like to learn more the affiliated company.
			<% end %>
			<br><br>
			Sincerely,<br>
			The Gift2Grow Team.<br>
		</p>
		<p><span style="font-size: 10px;">
			Disclaimer: Gift2Grow is not responsible for the exchange process between the selected winner and responsible company.
		</span></p>
	</body>
</html>