<%= form_for @participant, :html => {:multipart => true} do |form| %>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>
  
  <%= form.submit "Join This GiveAway" %>
  
<% end %>


