<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
      <h1 class="text-center whitetoblack">
        "You are one step away from joining <%= @giveaway.company.name %>'s sponsored giveaway"
      </h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 form-container">
    <br>
      <%= form_for @participant, :html => { :multipart => true } do |form| %>
        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :contact %>
          <%= form.text_field :contact, class: "form-control" %>
        </div><br>
        <%= form.hidden_field :gvId, value: params[:gvId] %>
        <%= form.hidden_field :refId, value: params[:refId] %>
        <% unless @giveaway.over? %>
          <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-offset-4 col-xs-4">
              <%= form.submit "Join This GiveAway", class: "btn btn-default btn-block mainbutton1" %>
            </div>
          </div>
        <% else %>
          <div class="row">
              <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 text-center">
                <h3 class="text-center">Sorry This Giveaway Has Ended, Look Out For The Next One</h3>
              </div>
            </div>
        <% end %>
        <div class="small-divider"></div>
      <% end %>
    </div>
  </div>
  <div class="medium-divider"></div>
</div>
