
<%= form_for @participant, :html => {:multipart => true} do |form| %>

<div class= "text-center">
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>

  <%= form.hidden_field :gvId, value: params[:gvId] %>
  <%= form.hidden_field :refId, value: params[:refId] %>

  <%= form.submit "Join This GiveAway", class: "btn btn-default mainbutton1" %>


<% end %>
</div>
