<div class= "container-fluid">

	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<h2 class="text-center">
				Yay!!! You have successfully joined this giveaway!
			</h2>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<h4 class="text-center">
				Your Email: <%= @participant.email %>
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<h4 class="text-center">
				Your Name: <%= @participant.name %>
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<h4 class="text-center">
				Your Contact Number: <%= @participant.contact %>
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<h4 class="text-center">
				Share this link to increase your chance!
			</h4>
			<h4 class="text-center">
	    <%= link_to "http://gift2grow/" + @participant.giveaway.link + "/" + @participant.referral_identification,  company_giveaway_path(@company, @giveaway, refId: @participant.referral_identification) %>
			</h4>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-2 col-md-offset-5 col-xs-2 col-xs-offset-5 text-center">
			<%= link_to "Done", root_path, class: "btn btn-default mainbutton1 btn-block" %>
		</div>
	</div>
</div>
