<%= form_for @company do |form| %>
  <br>
  <div class="form-group">
  	<%= form.label :name %>
  	<%= form.text_field :name, class: "form-control" %>
  </div>

	<div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :website %>
    <%= form.text_field :website, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :social_media_link %>
    <%= form.text_field :social_media_link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= form.label :contact %>
    <%= form.text_field :contact, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <% if admin? %>
	<div class="form-group">
	 <%= form.label :role %>
	 <%= form.select :role, options_for_select(["company","superadmin"]),{}, class: "form-control" %>
  <% end %>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
      <%= form.submit "Update Info", class: "btn btn-default mainbutton1 btn-block" %>
    </div>
  </div>
  <div class="spacing"></div>
<% end %>