<%= form_for @company do |form| %>
<br>
  <div class="form-group">
  	<%= form.label :name %>
  	<%= form.text_field :name, class: "form-control" %>
  </div>

	<div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :website %>
    <%= form.text_field :website, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :social_media_link %>
    <%= form.text_field :social_media_link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= form.label :contact %>
    <%= form.text_field :contact, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-5 col-xs-6 col-xs-offset-3">
      <%= form.submit "Signup", class: "btn btn-primary mainbutton1 btn-block" %>
    </div>
  </div>
  <br>
<% end %>