<h2>Company Profile</h2>
	
	<table>
	<tr>
		<td>Name <td>: <%= @company.name %></td></td>
	</tr>
	<tr>
		<td>Email <td>: <%= @company.email %></td></td>
	</tr>
	<tr>
		<td>Website <td>: <%= @company.website %></td></td>
	</tr>
	<tr>
		<td>Social Medial link <td>: <%= @company.social_media_link %></td></td>
	</tr>
	<tr>
		<td>Address <td>: <%= @company.address %></td></td>
	</tr>
	<tr>
		<td>Contact <td>: <%= @company.contact %></td></td>
	</tr>

<% if admin? %>
	<tr>
	<td>Role <td>: <%= @company.role %></td></td>
	</tr>
<% end %>
</table>

	<%= link_to "Edit", edit_company_path(@company) %>
	
<% if admin? %>
	<%= link_to "Other Companies", companies_path %>
<% end %>