<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-ms-offset-2 col-xs-8 col-xs-offset-2">
			<p class="companyshow-text">
				Your Dashboard
			</p>
		</div>
	</div>

	<div id="giveaways-ongoing">
		<div class="header">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
					<h2 class="text-center headertitle">
						Ongoing Giveaways
					</h2>
				</div>
			</div>
		</div>
		<br>
			<% if giveaways? %>
				<% ongoing.each do |giveaway| %>
					<div class="row" id="outside<%= giveaway.id %>">
						<script>
							$("#outside<%= giveaway.id %>").countdown({until: new Date("<%= giveaway.end_date.strftime("20%y, %m, %d") %>")})
							$("#myModal<%= giveaway.id %>").on('shown.bs.modal', function(){
								$("#timer<%= giveaway.id %>").countdown({until: new Date("<%= giveaway.end_date.strftime("20%y, %m, %d") %>")})
							})
						 </script>
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<button type="button" class="btn btn-default btn-block mainbutton-3" data-toggle="modal" data-target="#myModal<%= giveaway.id %>">
								<%= giveaway.title %>
							</button>
							<div class="modal fade" id="myModal<%= giveaway.id %>" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">
													&times;
												</span>
											</button>
											<h4 class="modal-title text-center"><%= giveaway.title %></h4>
										</div>
										<div class="modal-body dashboard-content">
											<div class="row">
												<h4 class="text-center dashboardHeaderDecoration">
													Description
												</h4>
											</div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<p class="text-center">
														<%= giveaway.description %>
													</p>
												</div>
											</div>
											<div class="spacing"></div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<h4 class="text-center dashboardHeaderDecoration">
														Link To This Giveaway
													</h4>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<p class="text-center dashanswer">
														<%= link_to "http://gift2grow/" + giveaway.link, company_giveaway_path(@company, giveaway) %>
													</p>
												</div>
											</div>
											<div class="spacing"></div>
											<div class="divider"></div>
											<div class="spacing"></div>
											<div class="row record">
												<div class="col-md-8 col-md-offset-2 col-xs-2 col-xs-offset-2" id="timer<%= giveaway.id %>">
												  <script>
												  	$("#timer<%= giveaway.id%>").focus(function(){
												  		alert("hi")
												  	})
												  	$("#timer<%= giveaway.id %>").countdown({until: new Date("<%= giveaway.end_date.strftime("20%y, %m, %d") %>")})
												  </script>
												</div>
											</div>
											<div class="spacing"></div>
											<div class="divider"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default mainbutton-3" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="spacing"></div>
				<% end %>
			<% else %>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
						<h3 class="text-center empty">
							No Giveaway Running At The Momement. Create one now!
						</h3>
					</div>
				</div>
			<% end %>
	</div>

	<div id="giveaways-finished">
		<div class="header">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
					<h2 class="text-center headertitle">
						Finished Giveaways
					</h2>
				</div>
			</div>
		</div>
			<% if winner? %>
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<h3 class="text-center dashtitle">
							Title
						</h3>
					</div>
					<div class="col-md-4 col-xs-4">
						<h3 class="text-center dashtitle">
							Participants
						</h3>
					</div>
					<div class="col-md-4 col-xs-4">
						<h3 class="text-center dashtitle">
							Stats
						</h3>
					</div>
				</div>
				<% finished.each do |giveaway| %>
					<div class="row">
						<div class="col-md-4 col-xs-4">
							<h4 class="text-center dashanswer">
								<%= giveaway.title %>
							</h4>
						</div>
						<div class="col-md-4 col-xs-4">
							<h4 class="text-center dashanswer">
								<%= giveaway.participants.count %>
							</h4>
						</div>
						<div class="col-md-4 col-xs-4">
							<h4 class="text-center dashanswer dashlink">
								<%= link_to :stat %>
							</h4>
						</div>
					</div>
				<% end %>
			<% else %>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
						<h3 class="text-center empty">
							No Completed Giveaway At The Moment.
						</h3>
					</div>
				</div>
			<% end %>
	</div>
</div>
<div style="background-color:red;">
	<div id="1">
		<script>
			$("#1").countdown({until: new Date("2017, 8, 15")})
		</script>
	</div>
	<div id="2">
		<script>
			$("#2").countdown({until: new Date("2017, 5, 15")})
		</script>
	</div>
	<div id="3">
		<script>
			$("#3").countdown({until: new Date("2017, 7, 15")})
		</script>
	</div>
	<div id="4">
		<script>
			$("#4").countdown({until: new Date("2017, 02, 18")})
		</script>
	</div>
	<div id="5">
		<script>
			$("#5").countdown({until: new Date("2017, 2, 18")})
		</script>
	</div>
</div>

$("#4").countdown({until: new Date("2017, 2, 18")})
$("#timer4").countdown({until: new Date("2017, 02, 18")})