<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-ms-offset-2 col-xs-8 col-xs-offset-2">
			<p class="companyshow-text">
				Your Dashboard
			</p>
		</div>
	</div>

	<div id="giveaways-ongoing">
		<div class="header">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
					<h2 class="text-center headertitle">
						Ongoing Giveaways
					</h2>
				</div>
			</div>
		</div>
		<br>
			<% if giveaways? %>
				<% ongoing.each do |giveaway| %>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<button type="button" class="btn btn-default btn-block mainbutton-3" data-toggle="modal" data-target="#myModal<%= giveaway.id %>">
								<%= giveaway.title %>
							</button>
							<div class="modal fade" id="myModal<%= giveaway.id %>" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">
													&times;
												</span>
											</button>
											<h4 class="modal-title text-center dashboardTitle"><%= giveaway.title %></h4>
										</div>
										<div class="modal-body dashboard-content">
											<div class="row">
												<h4 class="text-center dashboardHeaderDecoration">
													Description:
												</h4>
											</div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<p class="text-center black">
														<%= giveaway.description %>
													</p>
												</div>
											</div>
											<div class="spacing"></div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<h4 class="text-center dashboardHeaderDecoration">
														Preview your Giveaway Link:
													</h4>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<p class="text-center dashanswer black">
														<%= link_to @url +"/"+ giveaway.link, company_giveaway_path(@company, giveaway) %>
													</p>
												</div>
											</div>
											<div class="spacing"></div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<h4 class="text-center dashboardHeaderDecoration">
														Current Number of Participants In This Giveaway
													</h4>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<p class="text-center black">
														<%= giveaway.participants.count %>
													</p>
												</div>
											</div>
											<div class="spacing"></div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<h4 class="text-center dashboardHeaderDecoration">
														Current Number of Succesfull Shares
													</h4>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<p class="text-center black">
														<%= giveaway.shares %>
													</p>
												</div>
											</div>
											<div class="spacing"></div>
											<div class="divider"></div>
											<div class="spacing"></div>
											<div class="row record">
												<div class="col-md-8 col-md-offset-2 col-xs-2 col-xs-offset-2" id="timer<%= giveaway.id %>">
												  <script>
												  	$("#timer<%= giveaway.id %>").countdown({until: new Date("<%= giveaway.end_date.strftime("20%y, %m, %d") %>")})
												  </script>
												</div>
											</div>
											<div class="spacing"></div>
											<div class="divider"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default mainbutton-3" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="spacing"></div>
				<% end %>
			<% else %>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
						<h3 class="text-center empty">
							No Giveaway Running At The Momement. Create one now!
						</h3>
					</div>
				</div>
			<% end %>
	</div>

	<div id="giveaways-finished">
		<div class="header">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
					<h2 class="text-center headertitle">
						Finished Giveaways
					</h2>
				</div>
			</div>
		</div>
		<br>
			<% if winner? %>
				<% finished.each do |giveaway| %>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<button type="button" class="btn btn-default btn-block mainbutton-3" data-toggle="modal" data-target="#myModal<%= giveaway.id %>">
								<%= giveaway.title %>
							</button>
							<div class="modal fade" id="myModal<%= giveaway.id %>" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">
													&times;
												</span>
											</button>
											<h4 class="modal-title text-center dashboardTitle"><%= giveaway.title %></h4>
										</div>
										<div class="modal-body dashboard-content">
											<div class="row">
												<h4 class="text-center dashboardHeaderDecoration">
													Description
												</h4>
											</div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<p class="text-center black">
														<%= giveaway.description %>
													</p>
												</div>
											</div>
											<div class="spacing"></div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<h4 class="text-center dashboardHeaderDecoration">
														Total Number of Participants
													</h4>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<p class="text-center dashanswer black">
														<%= giveaway.participants.count %>
													</p>
												</div>
											</div>
											<div class="spacing"></div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<h4 class="text-center dashboardHeaderDecoration">
														Total Number of Shares
													</h4>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
													<p class="text-center black">
														<%= giveaway.shares %>
													</p>
												</div>
											</div>
											<div class="spacing"></div>
											<div class="divider"></div>
											<div class="spacing"></div>
											<div class="row record">
												<div class="col-md-8 col-md-offset-2 col-xs-2 col-xs-offset-2" id="timer<%= giveaway.id %>">
												  <script>
												  	$("#timer<%= giveaway.id %>").countdown({until: new Date("<%= giveaway.end_date.strftime("20%y, %m, %d") %>")})
												  </script>
												</div>
											</div>
											<div class="spacing"></div>
											<div class="divider"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default mainbutton-3" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="spacing"></div>
				<% end %>
			<% else %>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
						<h3 class="text-center empty">
							No Completed Giveaway At The Moment.
						</h3>
					</div>
				</div>
			<% end %>
	</div>
</div>
<div class="small-divider">
	</div>