<div class="container-fluid">

	<div class="row">
	 <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
	 	<h1>
	 		Hi <%= @company.name %>! Make a new giveaway.
	 	</h1>
	 </div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<%= form_for [@company, @giveaway] do |f| %>
				<div class="form-group">
					<%= f.label :title, "Title" %>
					<%= f.text_field :title, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :description, "Description" %>
					<%= f.text_area :description, class: "form-control", placeholder: "Give a description of your giveaway!", rows: "5" %>
				</div>
				<div class="form-group">
					<%= f.label :prize_name, "The Prize" %>
					<%= f.text_field :prize_name, class: "form-control", placeholder: "What is this awsome prize!" %>
				</div>
				<div class="form-control">
					<%= f.label :prize_image, "Prize Image" %>
					<%= f.file_field :prize_image, class: "form-control" %>
				</div>
				<div class="form-control">
					<%= f.label :terms_and_condition, "T&C" %>
					<%= f.file_field :terms_and_condition, class: "form-control" %>
				</div>
				<div class="form-control">
					<%= f.label :winner_message, "Winner Message" %>
					<%= f.text_area :winner_message, class: "form-control", rows: "5", placeholder: "Message you would like the winner to receive here!" %>
				</div>
				<div class="form-control">
					<%= f.label :consolation_message, "Consolation Message" %>
					<%= f.text_area :consolation_message, class: "form-control", rows: "4", placeholder: "Offer the others a discount or promotion here!" %>
				</div>
				<div class="form-control">
					<%= f.label :num_winner, "Number of Winners" %>
					<%= f.select :num_winner, options_for_select([1,2]) %>
				</div>
				<div class="form-control">
					<%= f.label :num_backup, "Number of Backup" %>
					<%= f.select :num_backup, options_for_select([1,2,3]) %>
				</div>
				<%= f.submit "Create Giveaway" %>
			<% end %>
		</div>
	</div>
</div>