<div id="giveaway">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2" >
				<h1 class="text-center companyshow-text">
					<%= @giveaway.title %>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-xs-8 col-xs-offset-2">
				<div class="divider"></div>
				<div class="spacing"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2" id="timer-container">
				<script>
					$("#timer-container").countdown({until: new Date("<%= @giveaway.end_date.strftime("20%y, %m, %d") %>")})
				</script>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-xs-8 col-xs-offset-2">
				<div class="spacing"></div>
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2" >
				<h3 class="text-center">
					<%= @giveaway.description %>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2" >
				<h3 class="text-center">
					<%= @giveaway.prize_name %>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2" >
				<h3 class="text-center">
					<%= image_tag(@giveaway.prize_image) %>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 text-center" >
				<button type="button" class="btn btn-default mainbutton-3 btn-block" data-toggle="modal" data-target="#myModal" id="openModalButton">
					Terms And Condition
				</button>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">
									Terms And Condition
								</h4>
							</div>
							<div class="modal-body">
								<h3 class="text-center">
									<iframe src=<%= @giveaway.terms_and_condition %> width="500" height="780" style="border: none;"> </iframe>
								</h3>
							</div>
							<div class="modal-footer">
								<form id="agree-form">
									<div class="checkbox">
										<label>
											<input type="checkbox" id="agree" value="agree">
												I agree to the terms and condition
										</label>
									</div>
								</form>
								<button type="button" class="btn btn-default mainbutton1" data-dismiss="modal" id="agree-button">Agree</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 text-center">
				<%= link_to "Next", new_participant_path(gvId: @giveaway.id, refId: params[:referral_identification]), {class: "btn btn-default mainbutton1", id: "nextPart"} %>
			</div>
		</div>
	</div>
</div>
<br>