<!DOCTYPE html>
<html>
  <head>
    <title>Gift2grow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- nav bar -->
  <h1>Gift2Grow</h1>
  	<% if login? %>
	  	Signed in as: <%= @current_company.name %><br>
	  	<%= link_to 'Home', company_giveaways_path(current_company) %>
	  	<%= link_to 'Create a GiveAway', new_company_giveaway_path(current_company) %>
	  	<%= link_to 'Profile', company_path(current_company) %>
	  	<%= link_to 'Logout', logout_path, method: :delete %>
	  <% else %>
	  	<%= link_to 'Signup', signup_path %>
	  	<%= link_to 'Login', login_path %>
	  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
